obj
bin
_ReSharper.*
TestResults
*.user
*.docstates
*.suo
*.swp
*.bin
*.orig
TestResults
PublishFiles/version.txt
PublishFiles/temp.proj
Publish
deploy
Build
TestResults.xml
*.swo
Logs
*.ncrunchsolution